h1, label, p {
  color: #4B465C;
}

form {
  max-width: 766px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  padding: 50px 80px 40px 80px;
}

.form__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 26px;
}
.form__subtitle {
  max-width: 400px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 26px;
}
.form-item {
  width: 400px;
}
.form-item select {
  width: 100%;
  max-width: 400px;
}
.form-item__title {
  margin-bottom: 5px;
}
.form-item__input {
  position: relative;
  border: 1px solid #DBDADE;
}
.form-item__input input {
  padding: 0 14px;
  width: 100%;
  height: 38px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4B465C;
}
.form-item__error {
  min-height: 19px;
  background-color: #F2DEDE;
  padding: 0 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 10px;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 3px;
}
.form-item__error.show {
  opacity: 1;
  margin-bottom: 10px;
}
.form-item__error p {
  margin: 0;
}
.form-item__btn {
  width: 100%;
  height: 38px;
  margin-bottom: 10px;
}
.form__footer {
  text-align: center;
}
.form__footer a {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #472DC8;
}
.form__footer a:hover {
  color: #301f87;
}

.choices {
  -webkit-transition: none;
  transition: none;
}
.choices * {
  -webkit-transition: none;
  transition: none;
}
.choices__inner {
  background-color: #fff !important;
}

@media (max-width: 600px) {
  main {
    padding: 0;
  }
  form {
    width: 100%;
    min-height: 100vh;
    padding: 25px 20px 80px 20px;
  }
  .form-item {
    width: 100%;
  }
}